<h2>Registrarse</h2>
<form id="formulario">
    <label for="first_name">Nombre</label>
    <input type="text" class="form-control" id="first_name" placeholder="Ingrese nombre">
    <label for="last_name">Apellido</label>
    <input type="text" class="form-control" id="last_name" placeholder="Ingrese apellido">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Ingrese Email">
    <label for="age">Edad</label>
    <input type="number" class="form-control" id="age" placeholder="Ingresa Edad">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" id="password" placeholder="Contraseña">
    <label for="adminRole">Rol</label>
    <input type="text" class="form-control" id="adminRole" placeholder="admin / no admin">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div id="products-container" class="d-flex"></div>
<script src="/js/register.js"></script>